
*.m~

SCRIPTS/matlab/FEB3_en.features.10k.txt

SCRIPTS/matlab/FEB3_es.features.10k.txt

CODE/.DS_Store

.DS_Store

.DS_Store

CODE/.DS_Store

CODE/PCAUtil.m

CODE/cache/ed_A=1151056438_B=2677408609_N=100_maxdist=2.mat

CODE/cache/ed_A=2446339139_B=309290840_N=1000.mat

CODE/cache/ed_A=2446339139_B=309290840_N=1000_maxdist=2.mat

CODE/cache/ed_A=2619113582_B=1723869595_N=200_maxdist=2.mat

CODE/cache/ed_A=2658287806_B=3288959743_N=1000_maxdist=2.mat

CODE/cache/ed_A=4068631026_B=4269827560_N=500_maxdist=2.mat

CODE/cache/ed_A=3540336041_B=530634956_N=500.mat

CODE/cache/ed_A=656704790_B=1428960497_N=2000_maxdist=1.mat

CODE/cache/ed_A=656704790_B=1428960497_N=2000_maxdist=2.mat

CODE/matching_1.txt

*.txt

GRAPHS/graph.english

GRAPHS/graph.spanish

SCRIPTS/.DS_Store

*.lyx~

CODE/cache/pca_A=1428960497_N=2000.mat

CODE/cache/pca_A=656704790_N=2000.mat

CODE/cache/ed_A=955916231_B=1766508398_N=2000.mat

CODE/output/freq_vs_sum_context_english.png

CODE/commands.txt~

CODE/output/freq_vs_sum_context_english_new.png

CODE/results/context_english_g.png

CODE/cache/ed_A=2661455495_B=1396346714_N=2000.mat

Haghighi/*

CODE/cache/ed_A=1951479104_B=417195797_N=2000.mat

DATA/en-es/context.pl

SAMPLE_CONTEXT_FEATURES/context_europarl.en.mat

SAMPLE_CONTEXT_FEATURES/context_europarl.es.mat

CODE/cache/ed_A=1302076955_B=123222314_N=2000.mat

SAMPLE_CONTEXT_FEATURES/context_features.es

SAMPLE_CONTEXT_FEATURES/context_features.en

SAMPLE_CONTEXT_FEATURES/context_features.en
